@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.main-index {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;

}

.page-header {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-list{
  list-style: none;
}

.navigatoin-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-item-search {
  background-image: url(/images/header/header-search-icon.svg);
  background-repeat: no-repeat;
}

.navigation-item-favorites {
  background-image: url(/images/header/header-favorites-icon.svg);
  background-repeat: no-repeat;
}
.navigation-item-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;

}
.welcome-sedona {
  background-image: url(/images/welcome/welcome-bottom-saw.svg), url(/images/welcome/welcome-background.jpg);
  background-size: 100% auto;
  background-position: bottom center, center;
  background-repeat: no-repeat;
  min-height: 485px;
}


.intro {
  text-align: center;
}

.intro-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.intro-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.search-button{
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
}
.advantages-list {
  text-align: center;
}

.advantages-title,
.services-title {
  text-transform: uppercase;
}

.advantages-description,
.services-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-1 {
  color: #ffffff;
  background-color:#82B3D3;
}

.advantage-2 {
  background-color: #83B3D312;
}

.advantage-3 {
  background-color: #83B3D320;
}

.advantage-4 {
  background-color: #83B3D312;
}

.advantage-5 {
  color: #ffffff;
  background-color: #83B3D3;
}

.services {
  text-align: center;
}

.service-1 {
  background-image: url(/images/advantages/advantages-house.svg);
  background-repeat: no-repeat;
  background-color: #83B3D312;
}

.service-2 {
  background-image: url(/images/advantages/advantages-icon-food.svg);
  background-repeat: no-repeat;
}

.service-3 {
  background-image: url(/images/advantages/advantages-icon-gifts.svg);
  background-repeat: no-repeat;
  background-color: #83B3D312;
}

.subscribe {
  background-image: url(/images/subscribe/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 412px;
}

.subscribe-intro {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  background-color:#D7D7D7;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-color:#D7D7D7;
}

.subscribe-form {
  font-size: 18px;
  line-height: 24px;
}
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.footer-social .social-item-vk {
  background-image: url(/images/footer/footer-logo-vk.svg);
  background-repeat: no-repeat;
}

.footer-social .social-item-tg {
  background-image: url(/images/footer/footer-logo-telegram.svg);
  background-repeat: no-repeat;
}

.footer-social .social-item-youtube {
  background-image: url(/images/footer/footer-logo-youtube.svg);
  background-repeat: no-repeat;
}

.footer-contacts {
  text-align: center;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

/* catalog.html */

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background-color: #D7D7D7;
  text-decoration: none;
  text-align: left;
}


.main-inner {
  background-image: url(/images/catalog/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 412px;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #D7D7D7;
  text-decoration: none;
}

.breadcrumbs-home {
  background-image: url(/images/breadscrumbs/breadscrumbs-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-about {
  background-image: url(/images/breadscrumbs/breadscrumbs-arrow.svg);
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #D7D7D7;
  text-decoration: none;
}

.filter-group {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #D7D7D7
}

.apply-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.cancel-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#000000;
  text-transform: uppercase;
  text-decoration: none;
}

.count-hotels {
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.show-cards {
  background-image: url(/images/catalog/view-icon-1.svg);
  background-repeat: no-repeat;
}

.show-fullscreen {
  background-image: url(/images/catalog/view-icon-2.svg);
  background-repeat: no-repeat;
}

.show-list {
  background-image: url(/images/catalog/view-icon-3.svg);
  background-repeat: no-repeat;
}

.hotel-card-title {
  text-decoration: none;
}

.type-of-livivng,
.price-range {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
}

.more-information {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#756157;
  text-transform: uppercase;
  text-decoration: none;
}

.add-favorites {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}


.hotel-rating-star {
  background-image: url(/images/catalog/rating-star.svg);
  background-repeat: repeat-x;
  min-height: 18px;
  width: 53px;
}

.count-rating {
  font-size: 16px;
  line-height: 20px;
  background-color:#F2F2F2;
  text-transform: uppercase;
  text-decoration: none;
}


.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  background-color: #F2F2F2;
  text-decoration: none;
}

.inner-subscribe {
  text-align: center;
}

.inner-subscribe-intro {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.inner-subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.inner-subscribe-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}
