@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}


body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  color: #000000;
  background-color:#ffffff;

}

.navigatoin-link {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

.navigation-item-search {
  background-image: url(/images/header/header-search-icon.svg);
  background-repeat: no-repeat;
}

.navigation-item-favorites {
  background-image: url(/images/header/header-favorites-icon.svg);
  background-repeat: no-repeat;
}
.navigation-item-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;

}
.main-index {
color: #000000;
background-color: #ffffff;
background-image: url(/images/welcome/welcome-background.jpg);
background-size: 100% auto;
background-repeat: no-repeat;
}

.index-bottom-stairs {
  color: #000000;
  background-color: #ffffff;
  background-image: url(/images/welcome/welcome-bottom-saw.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.intro {
  text-align: center;
}

.intro-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.intro-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;

}

.search-button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;

}
.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.advantages-description {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantage-1 {
  color: #ffffff;
  background-color:#82B3D3;
}

.advantage-2 {
  background-color: #83B3D312;
}

.advantage-3 {
  background-color: #83B3D320;
}

.advantage-4 {
  background-color: #83B3D312;
}

.advantage-5 {
  color: #ffffff;
  background-color: #83B3D3;
}

.services {
  text-align: center;

}

.services-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}


.service-1 {
  background-image: url(/images/advantages/advantages-house.svg);
  background-repeat: no-repeat;
  background-color: #83B3D312;
}

.service-2 {
  background-image: url(/images/advantages/advantages-icon-food.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.service-3 {
  background-image: url(/images/advantages/advantages-icon-gifts.svg);
  background-repeat: no-repeat;
  background-color: #83B3D312;
}

.subscribe {
  background-image: url(/images/subscribe/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-intro {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  background-color: #000000;

}

.subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  background-color: #000000;

}
.subscribe-form {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;

}
.subscribe-button {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-social .social-item-vk {
  background-image: url(/images/footer/footer-logo-vk.svg);
  background-repeat: no-repeat;
}

.footer-social .social-item-tg {
  background-image: url(/images/footer/footer-logo-telegram.svg);
  background-repeat: no-repeat;

}

.footer-social .social-item-youtube {
  background-image: url(/images/footer/footer-logo-youtube.svg);
  background-repeat: no-repeat;
}

.footer-contacts {
  text-align: center;
}
.footer-contact-phone {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

/* catalog.html */

.inner-header-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-align: left;
}


.main-inner {
  background-image: url(/images/catalog/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.breadcrumbs a{
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;

}

.breadcrumbs-home {
  background-image: url(/images/breadscrumbs/breadscrumbs-home.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-about {
  background-image: url(/images/breadscrumbs/breadscrumbs-arrow.svg);
  background-repeat: no-repeat;
}

.filter-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.filter-group {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
}

.apply-button{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

.cancel-button{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color:#000000;
  text-transform: uppercase;
  text-decoration: none;

}
.count-hotels {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.select-control {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;

}

.show-cards {
  background-image: url(/images/catalog/view-icon-1.svg);
  background-repeat: no-repeat;

}

.show-fullscreen {
  background-image: url(/images/catalog/view-icon-2.svg);
  background-repeat: no-repeat;

}

.show-list {
  background-image: url(/images/catalog/view-icon-3.svg);
  background-repeat: no-repeat;

}

.hotel-card-title {
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.type-of-livivng {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
}

.price-range {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
}

.more-information{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#756157;
  text-transform: uppercase;
  text-decoration: none;

}

.add-favorites{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}

/* В этом месте не вставляется звезда рейтинга */
.rating-star{
  background-image: url(/images/catalog/rating-star.svg);
}

.count-rating {
  font-family: "PT Sans" sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color:#F2F2F2;
  text-transform: uppercase;
  text-decoration: none;

}


.pagination-link{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}
.pagination-current{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;

}

.inner-subscribe {
  background-color: #ffffff;
  text-align: center;

}

.inner-subscribe-intro {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;

}

.inner-subscribe-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;

}

.inner-subscribe-button{
  font-family: "PT Sans" sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color:#82B3D3;
  text-transform: uppercase;
  text-decoration: none;
}
